*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
}

img, input, video, audio{
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.tirer {
    margin: 0 5px;
}

#music {
    position: relative;
    padding: 2rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/laylowEtrangeHistoireMonsieurAnderson.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backdrop-filter: grayscale(70%);
}

#home {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    backdrop-filter: blur(10px);
    border-radius: 25px;
    background-color: rgba(253, 253, 253, 0.7); /* Add a semi-transparent background color */
    padding: 2rem 0;
}

#videoBackground {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#slider {
    position: relative;
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

#coverMove {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5%;
    transition: 2s linear;
}

#cover {
    transition: 2s linear;
    border-radius: 5%;
}

#slider>.rotate-disc-black{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    border-radius: 50%;
}

#slider>.rotate-disc-black:nth-child(3){
    width: 80px;
    height: 80px;
}

#slider>.rotate-disc-black:nth-child(4) {
    width: 160px;
    height: 160px;
}

#slider .rotate-disc-black:nth-child(5) {
    width: 240px;
    height: 240px;
}

#slider .rotate-disc-black:nth-child(6) {
    width: 320px;
    height: 320px;
}

.rotate-disc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: none;
}

#artisteTitre {
    display: flex;
    justify-content: center;
    padding: 15px;
}

#albumYear {
    overflow: hidden;
    padding: 0 0 15px;
    font-weight: bolder;
}

#albumYearContent {
    display: flex;
}

#rangeBarre {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

#rangeBarre p{
    margin: 0 15px;
}

#rangeBarre>label {
    width: 65%;
}

#navigation {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    padding: 20px;
}

#navigation i {
    font-size: 50px;
    color: #010918;
    transition: all 0.3s ease-in-out;
}

#navigation .backward-anime:hover {
    transform: translateX(-5px);
    color: #343434;
}

#navigation .play-anime:hover,#navigation .pause-anime:hover{
    transform: translateY(5px);
    color: #343434;
}

#navigation .forward-anime:hover {
    transform: translateX(5px);
    color: #343434;
}

.filter-bottom {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    width: 95%;
    height: 95%;
    color: white;
    z-index: 2;
}

.home-nav {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.home-nav nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 0.8rem 0;
}

.home-nav nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.home-nav nav ul li{
    padding: 0.3rem;
    margin: 0 0.5rem;
    text-align: center;
    background-color: white;
    color: black;
    width: 98%;
    font-weight: bolder;
    text-transform: uppercase;
}


#audio {
    width: 100%;
}

#timeLine {
    position: relative;
    height: 10px;
    width: 75%;
    border-radius: 50px;
    background-color: #000;
    border: solid 2px black;
}

#innerTimeLine {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate( 0, -50%);
    background-color: white;
    border-radius: 100px;
    width: 0;
    height: 7px;
}

/*

Playlist
 */
#list {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(253, 253, 253, 0.5); /* Add a semi-transparent background color */
    border-radius: 15px;
    width: 100%;
    color: white;
    z-index: 2;
    padding: 0.5rem 0;
}

.divItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.9);
    width: 97%;
    padding: 8px;
    margin: 0.2rem 0;
    border-radius: 10px;
}

.divItems span, .divItems i {
    margin: 0 5px;
    font-size: 18px;
}

.divElement {
    display: flex;
    align-items: center;
}


.imgItems {
    width: 50px;
    border-radius: 5px;
}

@keyframes rotateDisk {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 776px) {

    #music {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }

    #music>div{
        margin: 2rem 0;
    }

    #home {
        width: fit-content;
        padding: 1.3rem 0.6rem;
    }

    #slider {
        width: 300px;
        height: 300px;
    }

    #navigation {
        width: 300px;
    }

}